body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; }

hr {
  border: none;
  height: 1px;
  background: #eaeaea;
  margin: 1rem 0; }

img {
  border: 0;
  display: block; }

svg:not(:root) {
  overflow: hidden; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  *:focus {
    outline: 0; }

::placeholder {
  color: #ffffff; }

.layoutStandard .logo, .layoutStandard .search {
  height: 70px;
  color: #ffffff; }

.layoutStandard .logo {
  background: #141C47;
  width: 130px;
  float: left; }
  .layoutStandard .logo a {
    display: block;
    margin: 25px auto;
    text-align: center;
    color: #ffffff;
    text-decoration: none; }

.layoutStandard .search {
  background: #0D163A; }
  .layoutStandard .search input {
    position: absolute;
    top: 0;
    left: 130px;
    height: 65px;
    width: 100%;
    background: 0;
    border: 0;
    color: #ffffff;
    font-size: 1.15rem;
    margin: 0;
    padding: 0px 30px 5px; }

.layoutStandard .main {
  grid-area: main;
  background: #EEF2F9; }
  .layoutStandard .main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 30px;
    padding: 30px; }
    .layoutStandard .main .cards .item {
      background: #ffffff;
      padding: 40px;
      text-align: center;
      box-shadow: 0px 0px 20px #eaeaea;
      border-radius: .3rem; }
